[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/zeronet-browser.desktop]
row=3
col=0

[/home/user/Desktop/start-tor-browser.desktop]
row=0
col=0

[/home/user/Desktop/freenet-browser.desktop]
row=2
col=0

[/home/user/Desktop/i2p-browser.desktop]
row=1
col=0
