[Unit]
Description=Checks for custom boot parameters
Before=zeronet.service
Before=i2p.service
Before=freenet.service

[Service]
ExecStart=/usr/lib/obscurix/boot-parameters
Type=oneshot

[Install]
WantedBy=multi-user.target
