[Unit]
Description=Peer-to-peer platform for censorship-resistant communication
After=network.target

[Service]
Type=forking
ExecStart=/home/freenet/Freenet/run.sh start
User=freenet
Group=freenet
PIDFile=/home/freenet/Freenet/Freenet.pid
KillSignal=SIGKILL
ProtectSystem=strict
ProtectHome=tmpfs
BindPaths=/home/freenet
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
PrivateUsers=true
PrivateDevices=true
NoNewPrivileges=true
RestrictRealtime=true
SystemCallArchitectures=native
RestrictNamespaces=true
SystemCallFilter=@system-service
Environment="LD_PRELOAD=/usr/lib/libhardened_malloc.so"

[Install]
WantedBy=default.target
