[Unit]
Description=Peer-to-peer anonymous network
After=network.target
After=secure-time-sync.service

[Service]
Type=forking
ExecStart=/home/i2p/i2p/i2prouter start
User=i2p
Group=i2p
PIDFile=/home/i2p/.i2p/i2p.pid
ProtectSystem=strict
PrivateTmp=true
AppArmorProfile=/etc/apparmor.d/i2p.i2prouter
Environment="LD_PRELOAD=/usr/lib/libhardened_malloc.so"

[Install]
WantedBy=default.target
