[Unit]
Description=Secure time sync

[Service]
Type=simple
ExecStart=/usr/lib/obscurix/secure-time-sync --use-tor
Restart=on-failure
RestartSec=30

AmbientCapabilities=CAP_SYS_TIME
CapabilityBoundingSet=CAP_SYS_TIME
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateTmp=true
PrivateMounts=true
PrivateDevices=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
RestrictRealtime=true
SystemCallArchitectures=native
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET
SystemCallFilter=wait4 poll read mmap openat mprotect close munmap stat fstat rt_sigaction connect write brk socket lseek rt_sigprocmask access recvmsg futex sendmsg pipe set_robust_list geteuid getegid getsockopt ioctl clone execve getuid arch_prctl getgid sendto set_tid_address clock_settime setsockopt uname fcntl prlimit64 getpid rt_sigreturn getrandom dup2 sysinfo madvise getsockname gettid getcwd getppid recvfrom getpgrp getpeername sigaltstack
AppArmorProfile=/etc/apparmor.d/usr.lib.obscurix.secure-time-sync

[Install]
WantedBy=multi-user.target
